body {
    background-color: rgb(30, 30, 30);
    color: rgb(230, 230, 230);
    text-align: center;
    font-family: ZillaSans;	
}
@font-face {
	font-family: ZillaSans;
	font-display: swap;
	src: url(fonts/zillaslab/zillaslab-bold.woff),
	     url(fonts/zillaslab/zillaslab-bold.woff2);
}
	        
       

#meineKarte {
    visibility: hidden;
	margin-left: auto;
	margin-right: auto;
    width: 100%;
    height: 100%;
}

html, body, #meineKarte {
    width: 100%;
    height: 100%;
 }

=======
div{
    padding-top: 15px;
}
input{
    border-radius: 23px;
    border: 2px solid green;
    color: white;
    cursor: pointer;
    background: none;
}
input:hover{
    color: white;
    resize: both;
}
button{
    color: white;
    border: 2px solid green;
    border-radius: 23px;
    background: none;
}
.input-section{
    padding-top: 10px;
}
header{
    font-size: 1.4em;
}
>>>>>>> 194d153215801b5da4eb9e621e6e22d9572912b1
