body {
    background-color: rgb(30, 30, 30);
    color: rgb(230, 230, 230);
    padding-top: 25px;
    padding-bottom: 25px;
}


@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: url('../fonts/opensans-bold.woff2') format('woff2');
}
       

#meineKarte {
    visibility: hidden;
	margin-left: auto;
	margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

html, body, #meineKarte {
    width: 100%;
    height: 100%;
 }


button{
    font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	background: none;
	cursor: pointer;
	padding: 15px 70px;
    border-radius: 4px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;

	transition: all 0.3s;

    border: 3px solid #fff;
	color: #fff;  
}
button:hover,button:active{
    color: #0e83cd;
	background: #fff;
}

.textfeld{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	background: none;
	padding: 15px 5px;
    border-radius: 4px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;

    border: 3px solid #fff;
	color: #fff;  
}


.input-section{
    padding-top: 10px;
}
header{
    font-size: 1.4em;
}

.Ueberschrift{
    text-align:center;
    font-family: 'Open Sans';
    font-size:35px;
    margin-bottom: 40px;
}

.NormalerText{
    text-align:center;
    font-family: 'Open Sans';
    font-size:30px;
    margin-top: 40px;
    margin-bottom:40px;
}

.eingabe{
    text-align: center;
}

/* Für ältere Browser evlt. -webkit-transition: all 0.3s; -moz-transition: all 0.3s; bei button und input ergänzen?*/
/* Anmerkung d. Verf.: Redundant, da alter Browser = nö.*/

.navbar{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left:30px;
    box-shadow: 0 0 1px 1px rgba(165, 165, 165, 0.363),0 0 3px 2px rgba(165, 165, 165, 0.363),0 0 2px -3px rgba(165, 165, 165, 0.363);
}

.navbar-container{
    margin-right: 20%;
    margin-left:20%;
}

.navtext{
    font-family: 'Open Sans';
    color:white;
    margin-right: 20px;
    text-decoration: none;
}
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.navtext::after{
    background: transparent;
    content: "";
    display: block;
    height: 3px;
    margin: auto;
    transition: width .15s ease,background-color .15s ease;
    width: 0;
    box-sizing: inherit;
    overflow-wrap: anywhere;
    word-break: break-word;

}

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
  